@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Turbo Rango</h1>
    <p class="lead">Esta com fome e não sabe onde comer?? O TurboRango pode ajudar!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>